@use '$styles/colors'
  
.layout
  .header
    width: 100%

    padding: 1rem

    background-color: colors.$section-background

    text-align: center

  .content
    display: grid
    grid-template-columns: 300px auto 300px

    max-width: 1200px

    margin: 1.5rem auto